@font-face {
  font-family: "Lato";
  src: url("Lato-Black.woff2") format("woff2"),
    url("Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("Lato-Bold.woff2") format("woff2"),
    url("Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("Lato-Italic.woff2") format("woff2"),
    url("Lato-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("Lato-Regular.woff2") format("woff2"),
    url("Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  margin: auto;
}

header {
  background-color: #aaa;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
}
.header {
  display: flex;
  justify-content: space-between;
}
nav,
ul {
  padding: 0;
}
nav a {
  display: block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
li {
  list-style: none;
}
h1 {
  text-align: center;
}
.container {
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: self-start;
}
.inscription,
.connexion {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  padding: 21px;
  margin: 15px;
  width: 49%;
}
.inscription form,
.connexion form {
  display: flex;
  flex-direction: column;
}
.connexion {
  margin-right: 1%;
}
.inscription {
  margin-left: 1%;
}
h3,
form {
  margin: 0 !important;
}
input {
  height: 35px;
  width: 400px;
}

input {
  padding: 16px;
  margin-top: 15px;
  font-size: 20px;
  border-radius: 4px;
}
.image {
  padding: 0;
}
.submit {
  background-color: #4caf50;
  color: white;
  padding: initial;
  border: none;
}
