@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.woff2") format("woff2"),
    url("../fonts/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.woff2") format("woff2"),
    url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Italic.woff2") format("woff2"),
    url("../fonts/Lato-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #aaa;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  font-weight: bold;
}
h1 {
  text-transform: uppercase;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accueil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.accueil img {
  margin-top: 61px;
  width: 50%;
}
.accueil h1 {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 61px;
  margin-bottom: 120px;
}
nav,
ul {
  padding: 0;
}
nav a {
  display: block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
li {
  list-style: none;
}
h1 {
  text-align: center;
}
.container {
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: self-start;
}
.inscription,
.connexion {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  padding: 21px;
  margin: 15px;
}
.inscription form,
.connexion form {
  display: flex;
  flex-direction: column;
}
.connexion {
  margin-right: 1%;
}
.inscription {
  margin-left: 1%;
  max-width: 435px;
}
h3,
form {
  margin: 0 !important;
}
input {
  height: 35px;
  width: 400px;
}

input {
  padding: 16px;
  margin-top: 15px;
  font-size: 20px;
  border-radius: 4px;
}
.image {
  padding: 0;
  font-size: 14px;
}
.submit {
  background-color: #4caf50;
  color: white;
  padding: initial;
  border: none;
}
.profil {
  display: flex;
  flex-direction: column;
  margin-left: 7%;
}
.profil label,
.profil span {
  font-size: 1.5em;
}
.profil .image {
  display: flex;
}

.profil .profil-image {
  max-width: 120px;
  max-height: 120px;
}
#footer {
  background-color: #aaa;
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
  margin-top: auto;
}
.profil label {
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.inscription label {
  display: flex;
}
.inscription label strong {
  width: 200px;
  display: flex;
  align-items: center;
}
.container-message {
  display: flex;
  justify-content: center;
}
.message-div {
  width: 50%;
}
.message-text {
  font-size: 1.5em;
}
.success {
  background-color: #d1e7dd;
  padding: 10px;
}
.danger {
  background-color: #f8d7da;
  padding: 10px;
}
